@model DatabaseFirstApprochMvc.Models.TblCountry

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblCountry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryCapital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryCapital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryContinent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryContinent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CountryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
